#pagina{
    background-color: rgba(17, 46, 18, 0.856);
}

main{
    width: 100%;
    height: 100%;
    /*background-color:#2e717d;*/
    padding: 20px 0px;
    margin: 0;
    padding: 0;
    background-image: url("../images/fundo-historia.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0;
}

main h1{
    padding: 25px;
    background-color:#2830214d;
}

body{
    height: 100%;
}

section{
    width: 100%;
    height: auto;
    padding: 1px;
    margin: 20px auto;
    min-height: 0; 
}

.cena{
    width: 60%;
    height: 330px;
    overflow: hidden;
    overflow: hidden;
    background-color:rgba(240, 231, 200, 0.671);
    border-radius: 30px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 25px;
    border: 1px solid transparent;
    margin-bottom: 30px;
}

.cena-img{
    width: auto;
    height: 100%;
}

.cena-img img{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    object-fit: cover;
}

.descricao-cena {
    width: 100%;
    height: 40px;
    background-color: rgb(56, 11, 23);
    text-align: center;
    color: antiquewhite;
    padding-bottom: 10px;
}
