
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@500&display=swap');/*Gupter*/
@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');/*Spirax*/
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap');/*Elsie Swash Caps*/
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');/*Lancelot*/

*{
    padding: 0%;
    margin:0%;
    font-family: 'Lancelot';
}

/*FONTES*/
header h2{
    font-family: 'Spirax';
    text-align: center;
    color:bisque;
    padding: 5px;
}

h2, h3, h4{
    color:bisque;
    text-align: center;
}

h1{
    text-align: center;
    color:bisque;
}

/*FIM FONTES*/

header{
    width: 100%;
    height:40px;
    padding: 10px 0px;
    background-color: #461220;
}

#logo{
    width: 45px;
    height: 45px;
    margin: 0px 20px;
    overflow: hidden;
    float: left;
    max-width: 100%; 
    border-radius: 10px;
}

/*siga 100% do elemento pai*/
#logo img{
    width: 100%;
    height: 100%;
}

nav{
    width: auto;
    height: 45px;
    float:right;
    line-height: 45px;
    margin: 0px 20px;
}

a{
    color:bisque;
    text-decoration: none;
    margin: 0px 10px;
    background-color: #800e13;
    padding: 0px 15px;
    border-radius: 10px;
}

a:hover{
    background-color: #f3074673;
    color: antiquewhite;
}

h2{
    text-align: center;
}

h3{
    margin: 20px;
}

footer{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 50px 0px;
    text-align: center;
    background-color: #38040e;
    color:azure;
}

footer p{
    font-size: 15px;
    text-align: center;
}