main{
    background-color: #aab4b6b9;
    padding: 20px 0px;
}

h1{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
}

main{
    background-color:#2e717d;
    padding: 20px 0px;
}

section{
    width: 80%;
    height: auto;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    border: 8px solid #aab4b6b9;
    border-radius: 20px;
}

img{
    width: 20%;
    height: auto;
    border-radius: 10px;
}

p{
    width: 100%;
    height: auto;
    font-family:Tahoma;
    font-size: 20px;
}

h3{
    font-size: 20px;
    color: #a11616;
    margin: 20px;
}