h1{
    padding: 3px;
}

p{
    text-indent: 50px;
}

a:hover{
    background-color: #db0808c5;
    color: white;
}

main{
    width: 100%;
    height: 100%;
    background-color:#2e717d;
    padding: 20px 0px;
}
 
section{
    width: 100%;
    height: auto;
    padding: 1px;
    background-color:#dbe1e2ce;
    margin: 20px auto;
    min-height: 0; 
}

.postagem {
    height: 438px;
    overflow: hidden;
    margin: 30px;
    overflow: hidden;
    background-color: rgba(245, 243, 242, 0.856);
    border-radius: 30px;
}

.imagemPostagem{
    width: 55%;
    height: auto;
    float: left;
}

.imagemPostagem img{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    object-fit: cover;
}

.textoPostagem a {
    display: block; /* Torna as âncoras elementos de bloco */
    text-align: center; /* Centraliza o texto dentro das âncoras */
    margin-top: 10px; /* Adicione margem superior para espaçamento */
    border-radius: 10px;
    height: 50%;
    width: 50%;
    margin-left: 130px;
}

.textoPostagem{
    width: 45%;
    float: right;
    flex-wrap: wrap;
    height: auto; 
    text-align: justify;
    
}

.textoPostagem p{
    margin: 20px;
    flex-wrap: wrap;/*para a orientação e responsividade*/
}

h3{
    color: rgb(39, 27, 27);
}
