main{
    /*margin: 20px 0px;*/
    background-color:#2e717d;
    padding: 20px 0px;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
}

section{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color:#aab4b6b9;
    margin: 10px auto;
    border: 2px solid #2e717d;
    min-height: 0; 
    margin: 10px auto;
}

.postagem{
    height: 350px;
    overflow: hidden;
    margin: 20px 0;
    overflow: hidden;
    background-color: rgb(240, 231, 200);
}


.imagemPostagem{
    width: 50%;
    height: auto;
    float: left;
}

.imagemPostagem img{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    object-fit: cover;
}

.textoPostagem{
    width: 50%;
    float: right;
    flex-wrap: wrap;
    height: auto; 
}

.textoPostagem p{
    margin: 20px;
    flex-wrap: wrap;/*para a orientação e responsividade*/
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #780116;
    text-align: center;
}