*{
    padding: 0%;
    margin: 0%;
}

#pagina{
    background-color: #aab4b6ef;
}

h1{
    background-color: #2e717d;;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-family: Akira;
}

main{
    background-color: #aab4b6b9;
    height: auto;
    width: 100%;
}

@keyframes mudaBackground {
    0%{
        background-image: url(../images/ultima-pagina-1.jpg);
        transition: 5s;
    }
    20%{
        background-image: url(../images/ultima-pagina-2.jpg);
        transition: 1s;
    }
    40%{
        background-image: url(../images/ultima-pagina-3.jpg);
        transition: 1s;
    }60%{
        background-image: url(../images/ultima-pagina-4.jpg);
        transition: 1s;
    }
    80%{
        background-image: url(../images/ultima-pagina-5.jpg);
        transition: 1s;
    }
    100%{
        background-image: url(../images/ultima-pagina-6.jpg);
        transition: 1s;
    }


}

@font-face {
    font-family: Akira ;
    src: url(../fonts/akira_expanded/Akira\ Expanded\ Demo.otf);
}

#caixaImagem{
    width: 60%;
    height: 500px;
    background-image: url(../images/ultima-pagina-1.jpg);
    background-size: cover;
    background-position: right;
    animation: mudaBackground 10s infinite;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center; 
}
